
body{
    /* need to take off margins */
    margin: 0; 
    background-color: #fff7e9;
}
.container{
    padding-top:20px;
    padding-right: 0; 
    padding-left: 0;
    position: absolute;  
  
}

.video{
    width: 100%;
    height: auto; 
    object-fit: contain;
 
}

/* The following will play the video without the bottom 
   video feature/controls like pause and skip and play being
   visible */
video::-webkit-media-controls-timeline {
    display: none;
}

video::-webkit-media-controls {
    display: none;
}

.main-img{
    width: 100vw;
    overflow-x: hidden;
    object-fit: contain;
    
    
}

.active-button {
    color:  #f29389;
    border-color:  #f29389;
}


/* HEADER */
.header{
    height: 60px; 

    display:flex;
    flex-direction: row; 
    justify-content: space-between; 

    /* making sure the header doesn't move */
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0;
    /* USE Z-INDEX TO MAKE HEADER APPEAR ABOVE THUMBNAIL (default = 0) */
    z-index: 100; 

    background-color:  #ecf0f3;  
    /* adding a border */
    border-bottom-width: 1px; 
    border-bottom-style:hidden;
    /* border-bottom-color: rgb(228, 228, 228); */

}


.logo{
  margin-left: 80px;
  align-content: center;
  cursor: pointer;
  transition: 0.15s; 
  height: 70%;
  margin-top: 12px;
   
}

.logo:hover{
    opacity: 85%; 
    transition: 0.15s; 
}



.header_buttons{
    display:flex; 
    /* aligned horiz */
    justify-content: center; 
    align-items: center; 
    /* position: relative; */
    /* cursor: pointer; 
    transition: 0.15s;   */
    padding-right: 100px;
   

    /* flex-shrink: 0;  */


}


.home_container ,
.about_container,
.portfolio_container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px; 
  margin-left: 20px; 
 
 
}

.contact_container {
    margin-right: 0;
  }

.button1, .portfolio-button{
    font-family: Outfit; 
    font-weight: 500; 
    font-size: 15px;
    color: #293241; 
    flex-shrink: 0;
    padding: 8px 16px;
    border-radius: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-color: #293241; 
    border-style:solid;
    border-width: thin;
    cursor:pointer; 
    transition: 0.15s; 

}

.button1:hover{
    /* background-color: #d4d3d3 ; */
    color:  #f29389;
    border-color:  #f29389;
}

.button2{
    border-radius: 0;
    border: none; 
    font-family: Outfit; 
    font-weight: 700; 
    font-size: 15px;
    color: #f29389; 
    cursor: pointer; 
    transition: 0.15s; 
    /* background-color: #f5948a;  */
    /* border: none;  */
    /* pink f5948a */
    /* blue 293241 */
}

.button2:hover{
  color: #293241;
 
}


/* PORTFOLIO DROP DOWN */
.dropdown{
    position: relative; 
    display: inline-block;
    
}


  /* OVERLAY */
  .portfolio-overlay{
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #ecf0f3; /* adjust the background color and transparency as desired */
    z-index: 999;
    


  }

  .portfolio-contents a:hover {background-color: #ddd;}

 .dropdown:hover .portfolio-contents {display: block;}

 .dropdown:hover .portfolio-button { color:  #f29389;
    border-color:  #f29389; }

 .dropdown:hover .portfolio-overlay{
    height: 65%; 
 }


/* The actual links + their properties */
.overlay-link{
    color: black; 
    text-decoration: none;
    font-family: outfit;
    font-weight: 300;
    font-size: 45px; 
    margin-top: 10px;
    transition: 0.15s; 

}

/* The actual links + their properties: hover */
.overlay-link:hover{
    color:#f29389; 
    opacity: 0.8; 
    font-size: 55px; 
    font-weight: 500;
}

/* The div holding the links */
.port-links{
    display: none; 
    height: 60px; 

    flex-direction:column; 
    justify-content: space-between; 
    text-align: center;
    padding-top: 20px;

}

/* main */
.main-container{
    margin-top: 3.5%;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #293241;
    object-fit: contain; 
}

.trisha{
    height: auto;
    width: 50%;
    object-fit: contain; 
    


}

.text{
    padding-top: 2%;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 25px;
    color: #f29389;
    font-family: outfit;
    letter-spacing: 3px;
    
}

.evil-eye{
    width: 60%;
    height: 100%;
}

.evil-eyes{
    padding-left: 70px;
    border-top: 1vh ;
    grid-column-start: 0;
    grid-column-end: span 4;
    background-color:#212b39;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin-top: 0vh;
}

.favs{
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 3%;
    padding-bottom: 30px;
}


.fav-list{
    padding-top: 30px;
    font-size: 30px;
    font-weight: 500;
    padding-left: 40px;
    padding-right: 40px;
    letter-spacing: 3px;
    font-family: outfit;
    color: black;
    line-height: 7vh;
   
 
}

.highlight{
    background-color: #f5bdb7;
}


.ending{
    padding-left: 5%;
    display: flex;
    flex-direction: row;

}

.end-text{
    font-family: futura;
    margin-left: 3%;
    margin-top: 4%;
}

.logo-end{
    padding-left: 50px;
    padding-bottom: 40px;
    height: 30%;
    width: 10%;
}

.footer-link{
    text-decoration: none;
    color: black;
}







/* Responsive Design */
/* starting from 1205px it will change */
@media (max-width: 1205px) {
    .main-container {
        flex-direction: column;
        align-items: center;
    }

    .trisha{
        width: 100%;
    }

    .text{
        padding-left: 120px;
        padding-right: 120px;
    }
}


