img {
    width: 100%;
  }

body{
    background-color: #ecf0f3;

}


  /* HEADER */

  .background{
    width: 100%;
    height: auto;
    object-fit: fill;
  
  }


/* NAVIGATION  */
.header{
    height: 60px; 

    display:flex;
    flex-direction: row; 
    justify-content: space-between; 

    /* making sure the header doesn't move */
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0;
    /* USE Z-INDEX TO MAKE HEADER APPEAR ABOVE THUMBNAIL (default = 0) */
    z-index: 100; 

    background-color:  #ecf0f3;  
    /* adding a border */
    border-bottom-width: 1px; 
    border-bottom-style:hidden;
}


.logo{
  margin-left: 80px;
  align-content: center;
  cursor: pointer;
  transition: 0.15s; 
  width: auto;
  height: 50px;
  margin-top: 12px;
   
}

.logo:hover{
    opacity: 85%; 
    transition: 0.15s; 
}


.header_buttons{
    display:flex; 
    justify-content: center; 
    align-items: center; 
    padding-right: 100px;
}


.home_container ,
.about_container,
.portfolio_container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px; 
  margin-left: 20px; 
 
 
}

.contact_container {
    margin-right: 0;
  }

.button1, .portfolio-button{
    font-family: Outfit; 
    font-weight: 500; 
    font-size: 15px;
    color: #293241; 
    flex-shrink: 0;
    padding: 8px 16px;
    border-radius: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-color: #293241; 
    border-style:solid;
    border-width: thin;
    cursor:pointer; 
    transition: 0.15s; 

}

.button1:hover{
    opacity: 0.7;
    /* color:  #f29389;
    border-color:  #f29389; */
}

.button2{
    border-radius: 0;
    border: none; 
    font-family: Outfit; 
    font-weight: 700; 
    font-size: 15px;
    /* color: #f29389;  */
    color: #293241;
    cursor: pointer; 
    transition: 0.15s; 
}

.button2:hover{
  opacity: 0.7;
 
}

.dropdown:hover .portfolio-button { opacity: 0.7; }


  
  /* ------------------------------- */


  /*headline */
  .h2-head{
    margin-top: 8%;
  }

  .h2{
    font-size: 70px;
    padding-left: 6%;
    font-family:outfit;
    letter-spacing: 8px;
    color: #293241;
  }

  .mainContainer {
    margin-top: 2%; 
    margin-left: 0px; 
  }
  
  .section {
    border-top: 1vh solid #293241;
    grid-column-start: 0;
    grid-column-end: span 4;
    background-color:#f9f4eb;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1vmin;
    grid-row-gap: 1vmin;
    margin-top: 0vh; 
    padding-top: 20px; /* Optional padding adjustment */
  }
  
  .covid{
  
    padding-top: 17%;
  
  }

  /* MEDIA QUERIES */

/* MEDIA QUERIES */
@media (max-width: 1056px) {

   

  .button1, .portfolio-button{
    
    padding: 4px 8px;

  }

  .logo{
  margin-left: 40px;
   
  }

  .h2{
    margin-top: 10%;
    
  }


 
}

@media (max-width: 580px) {
  .h2{
    margin-top: 20%;
    font-size: 40px;
  }
  

}
